.footer2 {
    font-size: 1em;
    text-align: center;
    font-style: italic;
    position: absolute;
    bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #c9151549;
}