

/* MARCA DE EJERCICIOS */
#wm {
    position: fixed;
    right: 0;
    bottom: 100px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.534);
    text-align: right;
    width: 190px;
    border-radius: 40px 0px 0px 40px;
    padding: 10px 15px 10px 10px;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 20px;
}
#wm p {
    font-family: "Montserrat", Arial, sans-serif;
    font-style: italic;
}
/* ------------ */