body {
    background-color: #eaeaea;
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20210408/pngtree-white-abstract-vector-web-background-design-image_597636.jpg");
    margin: 0;
    padding: 0;
}
h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
}
h3#Learn {
    color: #0bd0fe; font-style: italic;
}
p#copyright {
    font-size: 14px; font-style: italic;
}
.Stories {
    color: #E0EAFC; border-radius: 30px 30px 50px 50px; border-style: double; padding: 15px; margin: 10px; border-width: 10px;
    background: 
        linear-gradient(to right, #000000, #43434344),
        url("https://tse3.mm.bing.net/th/id/OIP.AMbdK_V-RJd8KVHKTm_yqAAAAA?rs=1&pid=ImgDetMain&o=7&rm=3");
}
.Desing_Process {
    color: #E0EAFC; border-radius: 30px 30px 50px 50px; border-style: double; padding: 15px; margin: 10px; border-width: 10px;
    background: linear-gradient(
        to right,
        #000000,
        #43434344
    );
}
.User_Research {
    color: #E0EAFC; border-radius: 30px 30px 50px 50px; border-style: double; padding: 15px; margin: 10px; border-width: 10px;
    background: linear-gradient(
        to right,
        #000000,
        #43434344
    );
}

#sapo {
    opacity: 0.5; 
}